@model DatabaseExplorer.Models.RecipeMaker.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name</h1>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationTime" class="control-label"></label>
                <input asp-for="PreparationTime" class="form-control" />
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookingTime" class="control-label"></label>
                <input asp-for="CookingTime" class="form-control" />
                <span asp-validation-for="CookingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyIn" class="control-label"></label>
                <input asp-for="ReadyIn" class="form-control" />
                <span asp-validation-for="ReadyIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Save" class="btn btn-success me-2" />
                <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
                <textarea asp-for="Method" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <textarea asp-for="Ingredients" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
