@model BabyNames.Models.BabyName

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BabyName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meaning" class="control-label"></label>
                <input asp-for="Meaning" class="form-control" />
                <span asp-validation-for="Meaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numerology" class="control-label"></label>
                <input asp-for="Numerology" class="form-control" />
                <span asp-validation-for="Numerology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReligionId" class="control-label"></label>
                <select asp-for="ReligionId" class="form-control" asp-items="ViewBag.ReligionId"></select>
                <span asp-validation-for="ReligionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
