@* PageNotFound *@

@{
	ViewData["Title"] = "Page Not Found";
}

<div>
	<h3 class="text-danger">404 - Not Found</h3>
	<p class="h5">The page you are looking for was not found.</p>
	<a asp-action="Index" class="btn btn-outline-dark">Back to Home</a>
</div>
