@{
    ViewData["Title"] = "Statement of Authorship";
}

<h1 class="font-weight-bold">@ViewBag.Title</h1>

<h5 class="text-justify">
    I, <a href="mailto:mitulvaghmashi@gmail.com" title="Email: mitulvaghmashi@gmail.com">Mitul Vaghamshi</a>, student number <a href="mailto:000821600@mohawcollege.ca" title="Email: 000821600@mohawcollege.ca">000821600</a>, certify that this material is my original work. No other person's work has been used without due acknowledgement and I have not made my work available to anyone else.
</h5>