@{
    ViewData["Title"] = "Privacy";
}

<h1 class="font-weight-bold">@ViewBag.Title</h1>

<h4 class="text-justify p-2">
    <a href="mailto:mitulvaghmashi@gmail.com" title="Email Address">Mitul Vaghamshi</a>.
</h4>
