@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 fw-bold">Welcome Recipes</h1>

    <h5>Learn how to prepare food with more then 200 available recipes, Create and add your own recipe to the app.</h5>
</div>
