@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site does not collect any type of information.</p>


<h1>Tasks/Issues:</h1>

<ul>
    <li>Add pagination</li>
    <li>Add filter by recipe category</li>
    <li>Add sort by prepareation time/cooking time/completion time</li>
    <li>Add rich HTML editor</li>
    <li>Database - update invalid image urls</li>
</ul>
