@{
	ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<pre>
PM> Install-Package Microsoft.EntityFrameworkCore.Tools

PM> Install-Package Microsoft.EntityFrameworkCore.SqlServer

PM> Scaffold-DbContext 
	-Connection name=CHDB 
	-Provider Microsoft.EntityFrameworkCore.SqlServer 
	-Context CHDBContext 
	-OutputDir Models 
	-ContextDir Data 
	-DataAnnotations 
	-Force

PM> dotnet watch run --quite --project HospitalMVC.csproj
</pre>
