@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site does not collect any type of information.</p>

<h3>Recipes - Tasks/Issues:</h3>
<p>Learn how to prepare food with more then 200 available recipes, Create and add your own recipe to the app.</p>
<ul>
    <li>Add pagination</li>
    <li>Add filter by recipe category</li>
    <li>Add sort by prepareation time/cooking time/completion time</li>
    <li>Add rich HTML editor</li>
    <li>Database - update invalid image urls</li>
</ul>

<h3>BabyNames - Tasks/Issues:</h3>
<p>We help you decide your baby name. Choose your baby name effortlessly. No baby? plan one today.</p>
<ul>
    <li>Add pagination</li>
    <li>Add group by alphabetes</li>
    <li>Add search/filter by name/religion/nakshatra/zodiac</li>
</ul>

<h3>ColorPicker - Tasks/Issues:</h3>
<p>Select color of your choice by their name of hex value from the collection of over 1000 colors.</p>
<ul>
    <li>Add pagination</li>
    <li>Add filter by color groups</li>
    <li>Add search by name/hex-range</li>
    <li>Add click to copy color name/hex value</li>
</ul>
