@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5 fw-bold">Welcome to Baby Names</h1>
    <h5>We help you decide your baby name. Choose your baby name effortlessly. No baby? plan one today.</h5>
</div>
