@{
    ViewBag.Title = "Northwind Traders";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <img src="img/northwind.png" class="img-fluid" />
    <p>Proudly distributing fine foods around the world since 1994.</p>
</div>
