@model ErrorViewModel
<div class="text-center">
    <h1 class="display-1">404 @ViewBag.Message</h1>
    @if (ViewBag.Message == null)
    {
        <h2 class="rounded p-3 btn-danger">An error occurred while processing your request.</h2>
        if (Model.ShowRequestId)
        {
            <strong>Request ID: @Model.RequestId</strong>
        }
        <h3>Cause: @Model.Description</h3>
    }
    else
    {
        <h2 class="rounded p-3 btn-warning">Sorry, We can't seem to find what you're looking for.</h2>
        <img src="/img/not-found.jpg" class="img-fluid" />
    }

    <p><a asp-controller="Home" asp-action="Index">Back to Home</a></p>
</div>
